<ng-container *ngIf="student$ | async as student">
  <div class="error" *ngIf="error.length > 0">{{ error }}</div>
  <form [formGroup]="formGroup" *ngIf="this.formGroup">
    <div class="form-line">
      <label>firstname</label>
      <input
        type="text"
        formControlName="firstanme"
        placeholder="Entrez un nom"
      />
      <label>lastname</label>
      <input type="text"
             formControlName="lastname"
             placeholder="Entrez un nom"/>
    </div>
    <br />
    <button (click)="submit()">
      {{ formMode === "CREATE" ? "Créer" : "Modifier" }}
    </button>
  </form>
</ng-container>
