<ng-container *ngIf="note$ | async as note">
  <div class="error" *ngIf="error.length > 0">{{ error }}</div>
  <form [formGroup]="formGroup" *ngIf="this.formGroup">
    <div class="form-line">
      <label>Cursus_name</label>
      <input
        type="text"
        formControlName="cursus_name"
        placeholder="Entrez un nom"
      />
      <label>Note</label>
      <input type="text" formControlName="note" />
    </div>
    <br />
    <button (click)="submit()">
      {{ formMode === "CREATE" ? "Créer" : "Modifier" }}
    </button>
  </form>
</ng-container>
