<div class="login">
  <h2 class="login-header">Log in</h2>
  <form [formGroup]="formGroup" class="login-container">
    <div>
      <input
        formControlName="username"
        type="username"
        placeholder="Username"
      />
    </div>
    <br />
    <div>
      <input
        formControlName="password"
        type="password"
        placeholder="Password"
      />
    </div>
    <br />
    <!--<input type="submit" value="Log in">-->
    <ul>
      <li>
        <button (click)="signin()" style="background-color: aqua">
          Signin
        </button>
      </li>
      <li>
        <button (click)="gotoSignup()" style="background-color: lightblue">
          Signup
        </button>
      </li>
    </ul>
  </form>
</div>
